/* Universal */

* {
    font-family: Helvetica;
}


/* Header */

header {
    background-color: hsla(43, 88%, 74%, 0.85);
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 100px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1.5px 3px;
    height: 50px;
    width: 165px;
    justify-content: center;
}

.logo-name:hover {
    cursor: pointer;
}

.logo-name:active {
    margin-top: 3px;
    box-shadow: 0 0;
    background-color: gray;
    color: white;
}

.logo {
    width: 32px;
    height: 32px;
}

nav {
    margin-right: 100px;
}

nav li{
    display: inline;
}

nav li+li::before {
    padding: 0 10px;
    content: "|";
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav a:active {
    color: black;
    text-decoration: none;
}

/* Body */

body {
    background-image: url(coffee-background.jpg);
    background-size: cover;
}

/* Search Bar */

.search-section {
    position: relative;
    left: 0;
    top: 67px;
    width: 100%;
}

.input-box {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    left: 0;
    align-items: center;
    z-index: 2;
}

.input-box .input-search-food {
    width: 15%;
    height: 37.5px;
    background: white;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 16px;
    color: black;
}

#search-button {
    position: absolute;
    right: 685px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    border-radius: 25px;
}

/* coffee Section */

.coffee-section {
    position: relative;
    top: 134px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 100px;
    border-radius: 50px;
    box-shadow: 1.5px 1.5px 10px 3.5px black;
    padding-bottom: 134px;
}

figure {
    margin: 0;
}

.coffee-holder {
    background-color: white;
    border: 2px solid none;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
    box-shadow: 1.5px 1.5px 10px 3.5px black;
}

.img-coffee {
    width: 300px;
    height: 300px;
}

.img-caption {
    font-weight: bold;
    font-size: 24px;
}

.order-button {
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: bold;
    transition: border 0.5s, color 0.5s;
}

.order-button:hover {
    border: 2px solid brown;
    color: brown;
}

.order-button:active {
    transform: scale(.95);
}

/* footer */

footer {
    background-color: hsla(43, 88%, 74%, 0.85);
    display: flex;
    height: 75px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    left: 0px;
}

